@use 'variables' as *;

.ad {
	background: $white;
	border-radius: 7px;
	padding: 0 15px;
	h2 {
		hyphens: auto;
		word-break: break-word;
		font-weight: 500;
	}
	&-header {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.bi-heart {
		margin-right: 10px;
		position: relative;
  		top: 3px;
  		font-size: 22px;
	}
	.price {
        font-weight: 600;
        position: relative;
        top: 20px;
        font-size: 30px;
        font-family: "Fira Sans", sans-serif;
        &:after {
            content: ' \20BD';
        }
    }
}