@use 'fonts' as *;
@use 'main' as *;
@use 'header' as *;
@use 'home' as *;
@use 'auth' as *;
@use 'footer' as *;
@use 'settings' as *;
@use 'sidebar' as *;
@use 'profile' as *;
@use 'product' as *;
@use 'media' as *;
@use 'modal-window' as *;