@use 'variables' as *;

.auth {
    padding: 15px 40px;
    &-footer {
        display: flex;
        justify-content: center;
        flex-direction: column;
        a {
            border: none;
            cursor: pointer;
            background: none;
            text-decoration: underline;
            color: $pink;
            font-size: 16px;
            &:hover {
                text-decoration: none;
            }
        }
    }
    h2 {
        text-align: center;
        margin: 10px 0 20px;
    }
}

.auth-buttons {
    .login-button {
        margin-right: 20px;
        color: $pink;
    }
    a {
        text-decoration: none;
        font-weight: 600;
        color: $white;
        border: none;
        background: none;
        font-size: 16px;
        cursor: pointer;
        &:hover {
            text-decoration: underline;
        }
    }
}

.form {
    &-control {
        width: 100%;
        padding: 10px;
        font-size: 15px;
        border-radius: 5px;
        border: 1px solid $gray-2;
        margin-top: 10px;
        background: $gray-3;
        box-sizing: border-box;
    }
    &-submit, &-button {
        padding: 10px 30px;
        border: none;
        margin: 15px 0 0;
        border-radius: 5px;
        font-size: 15px;
        cursor: pointer;
    }
    .buttons {
        display: flex;
        margin: 0;
        .form-submit, .form-button {
            width: 100%;
        }
    }
    &-submit {
        background: $pink;
        color: $white;
    }
    &-button {
        background: $gray-3;
        margin-left: 5px;
    }
    .err {
        color: red;
        font-size: 14px;
    }
}
.form-check label {
    margin-left: 7px;
    cursor: pointer;
}
.forget-password {
    margin-bottom: 10px;
}
#password-help {
    font-size: 12px;
}