@use 'variables' as *;

.header-top {
    background-color: $black;
    color: $white;
    padding: 10px 0;

    &-left, &-right {
    	display: flex;
    	align-items: center;
    	height: 34px;
    }
    &-left {
    	justify-content: left;
    }
    &-right {
    	justify-content: right;
    }
    .icon-text {
    	margin-left: 30px;
    	text-decoration: underline;
        color: $white;
    	&:hover {
    		color: $pink;
    	}
    	span {
    		margin-left: 5px;
    		font-size: 14px;
    	}
    }
    .logo {
        font-size: 25px;
        color: $white;
        text-decoration: none;
        margin-right: 15px;
    }
    .location {
    	position: relative;
    	top: 2px;
    	font-size: 15px;
    	font-weight: 600;
    	cursor: pointer;
    }
    .bi-geo-alt {
		margin: 0 5px;
	}
    .fa-heart, .fa-cart-shopping {
        font-size: 21px;
        color: $gray-1;
        cursor: pointer;
        position: relative;
        top: 2px;
        &:hover {
            color: $gray-2;
        }
    }
}

.header-bottom {
    margin: 20px 0;
    position: relative;
    .bi-list {
        font-size: 18px;
        padding-right: 9px;
        position: relative;
        top: 1px;
    }
	.btn-category {
		background: $pink;
        padding: 10px 20px;
        border: none;
        color: #fff;
        border-radius: 5px;
        font-size: 16px;
        font-weight: 500;
        cursor: pointer;
	}
    .category {
        position: absolute;
        z-index: 2;
        background: $white;
        width: 100%;
        top: 60px;
        padding-bottom: 26px;
        &-item {
            background-repeat: no-repeat;
            background-position: 16px 8px;
            background-size: 24px;
            padding: 8px 22px 8px 52px;
            cursor: pointer;
            width: 180px;
            &:hover {
                background-color: $gray-3;
            }
        }
        h4 {
            font-weight: 600;
            font-size: 20px;
            line-height: 1.6;
            margin: 0 0 5px 20px;
        }
        ul {
            padding: 0;
            margin: 0;
            li {
                list-style: none;;
            }
        }
        a {
            text-decoration: none;
            &:hover {
                text-decoration: underline;
                color: $blue
            }
        }
    }
    .subcategory {
        display: none;
        position: absolute;
        top: 3px;
        left: 500px;
        height: 100%;
        padding-left: 50px !important;
        li {
            padding: 5px 5px 5px 20px;
        }
    }
    .active {
        display: block;
    }
	.bi-search {
		position: relative;
		top: 10px;
		left: 28px;
	}
    .search {
        margin-left: 40px;
        &-input {
            border-radius: 5px;
            border: none;
            background: $gray-3;
            padding: 12px 10px 12px 34px;
            width: 60%;
            font-size: 15px;
        }
    }
    .btn-search {
        border: none;
        cursor: pointer;
        font-size: 15px;
        border-radius: 0 5px 5px 0;
        padding: 10px 45px;
    }

    .btn-ad {
        background: $green;
        color: white;
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        cursor: pointer;
        font-size: 15px;
    }
    .avatar {
        background: $pink;
        border-radius: 30px;
        height: 42px;
        width: 42px;
        font-size: 20px;
        text-align: center;
        line-height: 2.0;
        color: $white;
        margin-left: 20px;
        cursor: pointer;
    }
    .menu-user {
        position: absolute;
        background: $white;
        right: 300px;
        padding: 10px 20px;
        box-shadow: 0px 0px 8px $gray-2;
        border-radius: 5px;
        width: 220px;
        z-index: 1;
        li {
            list-style: none;
            padding: 5px 0;
            a {
                color: $black;
                text-decoration: none;
                &:hover {
                    color: $blue;
                }
            }
        }
    }
}

.ReactModal {
    position: relative;
    top: 12%;
    left: 36%;
    width: 500px;
    &__Overlay {
        z-index: 2;
    }
    &-location {
        left: 28%;
    }
    .modal-location {
        background-color: white;
        padding: 30px 40px;
        border-radius: 5px;
        width: 700px;
        position: relative;
        .city {
            cursor: pointer;
            &:hover {
                text-decoration: underline;
            }
        }
        .all-city {
            margin-top: 15px;
        }
    }
    &-overlay {
        position: fixed;
        inset:0px;
        background-color: rgba(0, 0, 0, 0.75);
    }
    .bi-x-lg {
        position: absolute;
        right: -26px;
        color: white;
        top: -32px;
        font-size: 25px;
        cursor: pointer;
    }
}

