@use 'variables' as *;

.header-top {
    background-color: $black;
    color: $white;
    padding: 10px 0;

    &-left, &-right {
    	display: flex;
    	align-items: center;
    	height: 34px;
    }
    &-left {
    	justify-content: left;
    }
    &-right {
    	justify-content: right;
    }
    .icon-text {
    	margin-left: 30px;
        color: $white;
    	&:hover {
    		color: $pink;
    	}
    	span {
    		margin-left: 10px;
    		font-size: 14px;
    	}
    }
    .logo {
        font-size: 25px;
        color: $white;
        text-decoration: none;
        margin-right: 15px;
    }
    .location {
    	position: relative;
    	top: 2px;
    	font-size: 15px;
    	font-weight: 600;
    	cursor: pointer;
    }
    .bi-geo-alt {
		margin: 0 5px;
	}
    .fa-heart, .fa-cart-shopping {
        font-size: 21px;
        color: $gray-1;
        cursor: pointer;
        position: relative;
        top: 2px;
        &:hover {
            color: $gray-2;
        }
    }
    sub {
        font-style: normal;
        font-size: 13px;
        position: relative;
        top: 2px;
    }
}

.heart {
    color: $red;
}

.header-bottom {
    margin: 20px 0;
    position: relative;
    .bi-list, .bi-x {
        font-size: 20px;
        padding-right: 9px;
        position: relative;
        top: 1px;
    }

    .btn-category {
        background: $pink;
        padding: 10px 20px;
        border: none;
        color: #fff;
        border-radius: 5px;
        font-size: 16px;
        font-weight: 500;
        cursor: pointer;
    }
    
    .menu-category {
        position: absolute;
        z-index: 1000;
        background: $white;
        width: 100%;
        top: 60px;
        padding-bottom: 26px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        
        &-list {
            margin: 10px 0 0;
            position: relative;
        }
        
        &-item {
            background-repeat: no-repeat;
            background-position: 16px 8px;
            background-size: 24px;
            padding: 8px 22px 8px 52px;
            width: 200px;
            
            &:hover {
                background-color: $gray-3;
            }
            
            a {
                text-decoration: none;
                color: inherit;
                height: 100%;
                transition: color 0.2s ease;
                cursor: pointer;
                
                &:hover {
                    text-decoration: underline;
                    color: $blue;
                }
            }
        }
        
        h4 {
            font-weight: 600;
            font-size: 20px;
            line-height: 1.6;
            margin: 0 0 5px 20px;
        }
    }
    
    .menu-subcategory {
        display: none;
        position: absolute;
        top: 0;
        left: 270px;
        min-width: 320px;
        background: $white;
        z-index: 1001;
        padding-bottom: 15px;
        height: 100%;
        
        &.active {
            display: block;
        }
        
        li {
            padding: 6px 20px;
            transition: background-color 0.2s ease;
            
            a {
                text-decoration: none;
                color: inherit;
                transition: color 0.2s ease;
                color: $blue;
                
                &:hover {
                    color: $blue;
                    text-decoration: underline;
                }
            }
        }
    }
    
	.bi-search {
		position: relative;
		top: 10px;
		left: 28px;
	}
    .search {
        margin-left: 40px;
        &-input {
            border-radius: 5px;
            border: none;
            background: $gray-3;
            padding: 12px 10px 12px 34px;
            width: 60%;
            font-size: 15px;
        }
    }
    .btn-search {
        border: none;
        cursor: pointer;
        font-size: 15px;
        border-radius: 0 5px 5px 0;
        padding: 10px 45px;
    }
    .avatar-menu {
        position: relative;
    }
    .menu-user {
        position: absolute;
        background: $white;
        right: 0px;
        top: 55px;
        padding: 10px 20px;
        box-shadow: 0px 0px 8px $gray-2;
        border-radius: 5px;
        width: 220px;
        z-index: 1;
        li {
            list-style: none;
            padding: 5px 0;
            a {
                color: $black;
                text-decoration: none;
                &:hover {
                    color: $blue;
                }
            }
        }
        .logout-button {
            border: none;
            background: none;
            font-size: 16px;
            padding: 0;
            color: #333;
            cursor: pointer;
            font-family: "FiraSans-Regular";
            &:hover {
                color: $blue;
            }
        }
    }
}
