:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
    margin: 0;
}

main {
    background: #fafafa;
    padding: 30px 0;
}

.center {
    text-align: center;
}