@use 'variables' as *;

.ReactModal {
    position: relative;
    top: 30%;
    left: 36%;
    width: 480px;
    &-location {
        top: 12%;
        left: 28%;
    }
    &-overlay {
        position: fixed;
        z-index: 1000;
        inset: 0px;
        background-color: rgba(0, 0, 0, 0.75);
    }
    &-product {
        top: 22%;
        width: 350px;
    }
    h2 {
        text-align: center;
    }
    h3 {
        margin: 5px 0;
        span {
            font-size: 18px;
            font-weight: 400;
        }
    }
    .modal {
        background-color: $gray-4;
        padding: 20px 30px;
        border-radius: 10px;

        button {
            border: none;
            cursor: pointer;
            width: 100%;
            border-radius: 10px;
            margin: 5px;
            padding: 10px;
            font-size: 15px;
            color: $black;
        }

        &-location {
            background-color: white;
            padding: 20px 30px;
            border-radius: 10px;
            width: 700px;
            position: relative;
            h2 {
                margin: 10px 0 20px;
            }
            form {
                position: relative;
                display: flex;
                align-items: center;
            }
            .bi-search {
                position: absolute;
                top: 10px;
                left: 8px;
                font-size: 16px;
                color: $gray-1;
            }
            .location-input {
                padding: 10px 30px 10px 30px;
                border-radius: 5px;
                border: 1px solid $gray-2;
                width: 350px;
                font-size: 15px;
                &:focus-visible {
                    border: 1px solid $blue;
                }
            }
            .location-submit {
                padding: 8px 60px;
                margin-left: 20px;
                background: $pink;
                color: $white;
                border: 1px solid $pink;
                border-radius: 5px;
                cursor: pointer;
                font-size: 17px;
            }
            .btn-clear {
                position: absolute;
                left: 380px;
                top: 4px;
                background: none;
                border: none;
                cursor: pointer;
                font-size: 22px;
                color: $gray-1;
            }
            .filter-city {
                position: absolute;
                top: 45px;
                z-index: 10;
                background: white;
                width: 410px;
                border-radius: 5px;
                overflow: scroll;
                max-height: 300px;
            }
            ul li {
                padding: 7px 20px;
                    cursor: pointer;
                    &:hover {
                        background: $gray-3;
                }
            }
            .info {
                font-size: 13px;
                margin: 15px 0 30px;
            }
            .btn-cancel {
                width: 100%;
                margin-top: 40px;
            }
        }

        &-product {
            display: flex;
            flex-direction: column;
            align-items: center;
            &__header {
                background: $white;
                box-shadow: 0px 0px 7px $gray-1;
                border-radius: 10px;
                border: none;
            }
            &__footer {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: 10px;
                width: 100%;
            }
            img {
                width: 210px;
                height: 190px;
                border-radius: 10px 10px 0 0;
            }
            h2 {
                margin: 25px 0 0;
                font-size: 20px;
            }
            h3 {
                font-weight: 600;
            }
            h3, h4 {
                margin-left: 10px;
                margin-top: 5px;
                font-size: 18px;
                font-weight: 500;
            }
            center {
                font-size: 15px;
                font-weight: 500;
                color: $gray-1;
                margin: 15px 0 10px;
            }
        }
    }
    .bi-x-lg {
        position: absolute;
        right: -38px;
        color: white;
        top: -30px;
        font-size: 25px;
        cursor: pointer;
    }
}