@use 'variables' as *;

.settings {
    dl {
        border-bottom: 1px solid $gray-3;
        display: flex;
        padding: 20px 10px;
        justify-content: space-between;
        margin: 0;
        &:hover {
            background: $gray-4;
            border-radius: 5px;
        }
        dt {
            width: 270px;
        }
        dd {
            display: flex;
            justify-content: space-between;
            width: 100%;
        }
    }
    .btn-personal-data {
        color: $blue;
        border: none;
        background: none;
        font-size: 15px;
        cursor: pointer;
        &:hover {
            text-decoration: underline;
        }
    }
}